.navbar {
    margin-top: -15px;
    height: 95px;
    background-color: white;
    border-bottom: 5px solid #ccac5f;

}
.nav-links a {
    color: #000000;
}
.nav>li>a:focus, .nav>li>a:hover {
    color: darkgrey;
    background-color: white;
}

.carousel {
    height: 85vh;
    margin-bottom: 40px;
}
/* Declare heights because of positioning of img element */
.carousel .item {
    width: 100vw;
    height: 85vh;
    background-color: white;
}
.carousel-inner > .item > img {
    top: 0;
    left: 0;
    display: block;
    width: auto;
    height: auto;
    margin: auto;
}
li.carousel-indicators{
    margin-bottom: 100px;
}
img {
    background: white;
}